@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
        <h2>База данных "Склад"</h2>
        <p>@Html.ActionLink("Перейти", "Index", "Warehouse",new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
</div>

